/************************************ Base Styles ************************************/

* {
	box-sizing: border-box;

}

a {
	text-decoration: none;
}

a:hover {
	color:blue;
}


p {
	color: #4a4a4a;
}

.name h1 {
	margin-top: 0;
}

img {
	max-width:100%;
}

.gallery li{
	list-style: none;

}
 .gallery, .mainNav ul{
 	padding: 0;

 }

h1,h2,h3 {
	text-transform: uppercase;
	color: #4a4a4a;
}

.clearfix {
	content:" ";
	display: block;
	clear:both;
}

footer .container {
	padding:1em;
}

/***************************************Section Styles ********************************/

header a {
	font-weight: bold;
	text-transform: uppercase;
	color:#4a4a4a;
}

.profile {
	padding: 1em;
}

header,footer,.contact {
	background-color:#fafafa;
	text-align: center;
	padding:10px 0 10px;
	
}

.portfolio {
	padding:1em;
	text-align: center;
}

footer {
	min-height: calc (100vh - 36px);
	border-top: solid 1px #e7e7e7;
	font-size:12px;
	font-weight: bold;

}

.mainNav li {
	margin: 10px 0;
	padding: 10px 0;
}

.mainNav li, .mainNav li a {
	display: block;
	background-color: #fff;

}

.gallery  li{
	padding-top:10px;

}


footer .name {
	float:left;
}

footer a {
	float:right;
}

