/***************************************************************************
	Base Element Styles
*****************************************************************************/
* {
	box-sizing: border-box;
}

body {
	color:#4a4a4a;
	background-color: #DDD1E7;
}

img {
	max-width: 100%;
}

a {
	color: #4a4a4a;
}

.name a,
.mainNav a,
.footerNav a,
.topAnchor {
	text-decoration: none;
	color:#4a4a4a;
	font-weight: bold;
}

.name a:hover,
.mainNav a:hover,
.footerNav a:hover,
.footerName a:hover
.topAnchor a:hover
 {
	color:#fdd36d;
	
}


.gallery a {
	text-decoration: none;
}


.name, h2, .mainNav, .footerNav {
	text-transform: uppercase;
}

.mainHeader{
	padding-top:10px;
}

.name,h4 {
	margin: 0;
	padding: 0;
}

.mainNav,
.footerNav,
.gallery, 
.skillList{

	list-style: none;
	padding: 0;

}

.skillList li{
	display: inline-block;
	margin: 10px;
}

.clearfix::after {

		content: "";
		display: table;
		clear: both;
}

/***************************************************************************
	Base Layout Styles
*****************************************************************************/

.container {
	padding: 1em;

}

.name,
.mainNav li {
	text-align: center;
	background: #fff;
	margin: 6px 0;
}

.name a,
.mainNav a {
	display: block;
} 

.mainNav a {
	padding: 0 15px;
}


.portfolio {
	background-color: #fff;
	padding-top: 10px;
}



footer .container {
	border-top: solid 1px #e7e7e7;
}

footer {
	min-height: calc (100vh - 33px);

}





/***************************************************************************
	Media Queries
*****************************************************************************/

@media screen and  (min-width:0px){


	.container {
		width: 90%;
		margin: 0 auto;
		max-width: 767px;
	}

	.footerNav {
		display: none;
	}

	h4 {
		float:left;
	}

	.topAnchor {
		float: right;
	}


	.mainHeader,
	.profile,
	.portfolio,
	.contact,
	.skills {
		text-align: center;
	}

}

@media  screen and (min-width: 768px){

	.container{
		max-width: 1023px;

	}

	.mainNav li{
		display: inline-block;
		background-color: inherit;

	}

	.name {
		background-color: inherit;
	}

	.gallery li:nth-child(2n+1) {
		clear: left;

	}

	.profile img {

		float:right;
		padding-left:1em;	


	}

	.profile {
		
		text-align: left;		
		line-height: 25px;
	}


	.gallery li{

		float: left;
		width: 45%;
		margin: 2.5%;

	}

	
	.footerNav ul {
		float: right;
		margin: 0px;
		display: block;
	}


	.footerNav ul li{
		
		display: inline;	
		margin: 0 10px;
		padding: 0 10px;			
	}

	

	.topAnchor {
		visibility: collapse;
	} 

}/* end of min-width:768px */


@media screen and (min-width: 1024px) {

	

	
	.name {
		float: left;
		
	}

	.mainNav {
		float: right;
		
	}

	.portfolio {
		padding: 0 1em;
	}
	
	
	
	.gallery li{

		width: 28.3333%;

	}

	.gallery li:nth-child(2n+1){
		clear:right;
	}

	

	.footerNav ul {
		float: right;
		margin: 0px;
	}


	.footerNav ul li{
		visibility: visible;	
		display: inline;	
		margin: 0 10px;
		padding: 0 10px;			
	}

	

	.topAnchor {
		visibility: collapse;
	} 

	
}


